<div class="panel panel-default" *ngIf="employee ; else errorTemplate">
  <div class ="panel-heading">
     {{ pageTitle }}
  </div>
  <div class ="panel-body">
    <div class="row">
      <div class="col-md-6">
        <h4>Employee ID : <strong>{{employee.name}}</strong></h4>
      </div>
      <div class="col-md-6">
        <h4>Employee UserID: <strong>{{employee.userId}}</strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Title : <strong>{{employee.title}}</strong></h4>
      </div>
      <div class="col-md-6">
        <h4 class="textWrapper">Description : <p>{{employee.body}}</p></h4>
      </div>
    </div>
    <div class="button-group">
      <button (click)="onBack()" type="button" class="btn btn-sm btn-default">Back</button>
    </div>
  </div>
</div>

<!--- Error template -->
<ng-template #errorTemplate>
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ pageTitle }}
    </div>
    <div class="panel-body">
      <h4>No user found ?!</h4>
      <div class="button-group">
        <button (click)="onBack()" type="button" class="btn btn-sm btn-default">Back</button>
      </div>
    </div>
  </div>
</ng-template>

